body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
    display: none;
}

.checkbox {
    margin-left: 10px;
}

.main-menu-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-file-upload {
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    border-radius: 10px;
}

.custom-file-upload:hover {
    background-color: #ccc;
    cursor: pointer;
}

.site-button {
    background-color: white;
    border: 2px solid black;
    padding: 10px 12px;
    cursor: pointer;
    width: 154px;
    height: 54px;
    line-height: 30px;
    font-size: 1.3em;
    border-radius: 10px;
    margin-left: 20px;
}

.site-button:hover {
    background: #ccc;
    cursor: pointer;
}

#character-name {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dialogue-exchange {
    width: 80%;
    text-align: left;
    border: 2px solid black;
    padding: 20px;
    margin: 10px auto 20px auto;
    font-size: 30px;
    border-radius: 10px;
    background-color: #ccc;
}

.dialogue-exchange-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.dialogue-button {
    margin-left: 10px;
    width: 100px;
    border: solid 2px black;
    height: 30px;
    border-radius: 5px;
}

.dialogue-button-small {
    margin-left: 10px;
    width: 30px;
    border: solid 2px black;
    height: 30px;
    border-radius: 5px;
}

.dialogue-button:hover {
    cursor: pointer;
    background-color: #aaa;
}

.dialogue-button-small:hover {
    cursor: pointer;
    background-color: #aaa;
}

.dialogue-condition-wrapper {
    background-color: #aaa;
    padding: 10px;
    height: 30px;
    text-align: left;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 10px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.dialogue-condition {
    background-color: #888;
    padding: 5px;
    text-align: left;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 5px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.dialogue-condition-input {
    margin-left: 15px;
}

.dialogue-line-wrapper {
    background-color: #888;
    padding: 10px;
    text-align: left;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.dialogue-textarea {
    width: 250px;
    height: 100px;
}

.dialogue-line-footer {
    margin-top: 10px;
}

.dialogue-flag-wrapper {
    background-color: #888;
    padding: 10px;
    height: 30px;
    text-align: left;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 10px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.dialogue-flag {
    background-color: #666;
    padding: 5px;
    text-align: left;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 5px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

#error-msg {
    margin: 10px 0 30px 0;
    color: red;
}