<div class="edit-menu-container">
    <div class="title center">Glumion Dialogue Portal</div>
    <div class="rowflex center">
        <p class="mr-15">Character Name: </p>
        <input type="text" [formControl]="state.characterName" [ngStyle]="{'height': '30px'}">
    </div>
    <button class="btn btn-rect center" [ngStyle]="{'margin-top': '15px'}" (click)="state.exportDialogueFile()">
        Export
    </button>
    <app-dialogue-exchange *ngFor="let exchange of state.conversations" [ngStyle]="{'margin': '15px 0'}"></app-dialogue-exchange>
    <button (click)="state.addConversation()" class="btn btn-square center" [ngStyle]="{'margin-top': '15px'}">+</button>
</div>