.rowflex {
    display: flex;
    flex-direction: row;
}

.center {
    width: fit-content;
    margin: 0 auto;
}

.btn {
    width: 30px;
    border: solid 2px black;
    height: 30px;
    border-radius: 5px;
}

.btn:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

.btn-square {
    width: 30px;
}

.btn-rect {
    width: 100px;
}

.mr-15 {
    margin-right: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mv-15 {
    margin: 15px 0;
}

.italic {
    font-style: italic;
}

.error-msg {
    font-size: 15px;
    font-style: italic;
    color: darkred;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
